.confirmContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;

    & .confirmBackBtnContainer {
        & .confirmBackBtn {
            z-index: 100;
            background-color: #fff;
            padding: 0;
            @include flex-center;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    & .confirmMap {
        flex: 1;
    }

    & .confirmBody {
        flex: 1;
        display: flex;
        flex-direction: column;

        & .confirmHeaderContainer {
            flex: 1;
            padding: 5px 0;
            font-size: 1.1rem;
            text-align: center;
            border-bottom: 1px solid $primary-color;
        }

        & .confirmRideSelectionContainer {
            flex-grow: 20;
            flex-basis: 0;
            overflow: auto;
            padding: 10px;
            padding-bottom: 60px;
            
            &::-webkit-scrollbar {
                display: none;
            }
            
            & .confirmRideContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $primary-color;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 1.5rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                @include transition-ease;

                & .confirmRideProfileContainer {
                    display: flex;
                    flex-direction: row;
                    column-gap: 1rem;
                    align-items: center;

                    & .confirmRideImg {
                        width: 4.5rem;
                        height: auto;
                    }

                    & .confirmRideArrivalTime {
                        color: $uber-blue;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            & .selected {
                box-shadow: rgba(50, 50, 93, 0.25) 10px 15px 15px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                transform: scale(1.02);
                background-color: darken($primary-color, $amount: 10);
            }
        }

        & .confirmConfirmBtn {
            width: 90%;
            position: absolute;
            bottom: 1rem;
            font-size: large;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}