.homeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    & .homeMap {
        flex: 1;
        border-radius: 0 0 25px 25px;
    }

    & .homeBody {
        flex: 1;
        padding:  0 15px;

        & .homeHeader {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            & .homeLogo {
                width: 10rem;
                height: auto;
            }

            & .homeProfileContainer {
                display: flex;
                align-items: center;

                & .homeProfileName {
                    padding-right: 15px;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                }

                & .homeProfilePicContainer {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 1px solid gray;
                    overflow: hidden;

                    & .homeProfilePic {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        & .homeActionBtnsContainer {
            width: 100%;
            height: 6rem;
            // display: flex;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            
            & .homeSingleActionBtnContainer {
                flex: 1;
                background-color: rgb(255, 173, 186);
                margin: 0 10px;
                padding: 10px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                @include transition-ease;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    transform: scale(1.1);
                }

                & .homeActionBtnImg {
                    width: 50%;
                    height: auto;
                }

                & .homeActionBtnTitle {
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
    }
}

