@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

// color palette
$primary-color: #c0c0c8;
$uber-blue: #276EF1;

// common resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #root, #__next {
    height: 100%;
    width: 100%;
}

// common mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

// mobile screen
@mixin media-mobile {
    @media screen and (min-width: 800px){
        @content
    };
}