@import './config';
@import './components/home';
@import './components/search';

// common components
.btn {
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 173, 186);
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.input {
    padding: 7px 5px;
    font-family: 'Nunito' sans-serif;
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 173, 186);
    @include transition-ease;

    &:focus {
        // outline: 1px solid gray;
        outline: none;
        transform: scale(1.03);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}